.vs/
Debug/
Release/
Library/
Player/Config
Player/Logs
Engine/segments.h
Engine/models.h
Engine/cameras.h
Engine/collision.h
Engine/scripts.h
Engine/mappings.h
Engine/spec
Engine/n64sdk
*.plg
*.ncb
*.aps
*.opt
*.out
*.o
*.n64
*.user
