.vs/
Debug/
Release/
Library/
Player/Config
Player/Logs
Engine/scene.h
Engine/segments.h
Engine/definitions.h
Engine/actors.h
Engine/collisions.h
Engine/scripts.h
Engine/mappings.h
Engine/spec
Engine/n64sdk
*.plg
*.ncb
*.aps
*.opt
*.out
*.o
*.n64
*.user
